.form-container{
    display: block;
    position:fixed;
    bottom: 117px;
    right: 18%;
    width: 20%;
    height: 30%;
    border-radius: 20px;
    background-color: white;
    top:291px;
    margin:-3px;
    
}
&__data-container{
    height: 100%;
  border: block;
  margin: 17px;

}